.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: rgb(235, 235, 235);
    border-radius: 6px;
}

.input img {
    margin: 0px 30px;
}

.input input {
    width: 400px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: royalblue;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: white;
    background: royalblue;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray {
    background: rgb(235, 235, 235);
    color: gray;
}